/* /app/bill */
:has(> [aria-label="Vendor"][class*="TextField"]) {
  width: 500px !important;
}
/* /app/deposit, /app/expense */
:has(> [aria-label="Choose an account"][class*="TextField"]) {
  width: 500px !important;
}
/* /app/expense */
:has(> [aria-label="Payee"][class*="TextField"]) {
  width: 500px !important;
}
/* /app/paybills */
:has(> [aria-label="Payment dropdown"][class*="TextField"]) {
  width: 500px !important;
}
/* /app/register */
:has(> [aria-label="Select an account"][class*="TextField"]) {
  width: 500px !important;
}
/* /app/transfer */
/* TODO: figure out why these don't work */
:has(> [aria-label="Transfer Funds From"][class*="TextField"]) {
  width: 500px !important;
}
:has(> [aria-label="Transfer Funds To"][class*="TextField"]) {
  width: 500px !important;
}
